@inject GameState GameState
@inject NavigationManager UriHelper
@implements IDisposable


@if (areaToUnlock != null)
{

    @if (areaToUnlock.HasRequirements())
    {
        <div style="position:relative">
            <button  class="btn btn-warning" @onclick="(() => GoToArea())">@areaToUnlock.ButtonText</button>

        </div>
    }
    else
    {
        <div style="position:relative" onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, areaToUnlock.ToString())))"
             onmouseout="@(new Action(() => GameState.HideTooltip()))">
            <button class="btn btn-warning" disabled>
                @areaToUnlock.ButtonText
            </button>
            <div style="position:absolute;top:0px;bottom:0px;left:0px;right:0px;"></div>
        </div>
    }
}
@code {

    [Parameter]
    public AreaUnlock areaToUnlock { get; set; }

    private void GoToArea()
    {
        GameState.StopActions();
        GameState.Location = areaToUnlock.AreaURL;
        Area a = AreaManager.Instance.GetAreaByURL(areaToUnlock.AreaURL);
        a.Unlock();
        UriHelper.NavigateTo("World/" + areaToUnlock.AreaURL);
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }

    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
