@inject GameState GameState
@implements IDisposable 

@if(GameState.CurrentRecipe != null)
{
    <div style="height:30px;"><button @onclick="@(() => Stop())">Stop Crafting @GameState.CurrentRecipe.OutputItemName</button></div>
}
else
{
    <div style="height:30px"></div>
}
@foreach (Recipe recipe in ItemManager.Instance.Recipes)
{
    if (recipe.CanCreate())
    {
        <div @onclick="@(() => Craft(recipe))"><ItemBoxComponent Item="@recipe.Output"></ItemBoxComponent></div>
    }
}

@code {
    private void Craft(Recipe r)
    {
        GameState.CurrentRecipe = r;
        GameState.UpdateState();
    }
    private void Stop()
    {
        GameState.StopActions();
        GameState.UpdateState();
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
