@inject GameState GameState
@implements IDisposable
    <div style="        height: 80px;
        width: 290px;
        border: solid black 1px;
        padding: 5px;
        margin: 5px;
        position:relative;
">
        @if (Item != null)
        {
            <div>@Item.Name</div>
            <div>@Item.Description</div>
            @if (Item.WeaponInfo != null || Item.ArmorInfo != null)
            {
                if (Item.IsEquipped)
                {
                    <div style="float:right;position:relative;bottom:35px;"><button @onclick="@(() => Player.Instance.UnequipItem(Item))">Unequip</button></div>

                }
                else
                {
                    <div style="float:right;position:relative;bottom:35px;"><button @onclick="@(() => Player.Instance.Equip(Item))">Equip</button></div>

                }
                if (Bank.Instance.IsBanking)
                {
                    <div>Deposit</div>
                }
            }
        }
    </div>


@code {
    [Parameter]
    public GameItem Item { get; set; }


    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}

