@inject GameState GameState
@inject NavigationManager UriHelper
@implements IDisposable

    <div style="        border: solid 1px black;
        padding: 5px;
        margin: 5px;
        background: bisque;
        border-radius: 0.5rem;
">
        @if (npc != null)
        {
            @npc
            @foreach (Dialog d in NPCManager.Instance.GetNPCByName(npc).Dialogs)
            {
                @if (d.HasRequirements())
                {
                    <button class="btn btn-light" @onclick="@(() => Talk(d))">@d.ButtonText</button>
                }

            }
        }

    </div>
<br />

@code {
    [Parameter]
    public string npc { get; set; }

    private void Talk(Dialog d)
    {
        d.Talk();
        GameState.UpdateState();
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    protected override void OnParametersSet()
    {
        GameState.UpdateState();
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
