@inject GameState GameState
@implements IDisposable 
<div>
    @foreach(Skill s in Player.Instance.Skills)
    {
        <div>@s.Name @s.Experience</div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
