@inject GameState GameState
@implements IDisposable 
<div>
    @foreach(Skill s in Player.Instance.Skills)
    {
        <div>@s.Name @s.Level @s.Experience</div>
        <div class="progress">
            <div class="progress-bar" style="width:@(s.Progress)%">

            </div>
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
