@page "/World/{areaName}"
@inject GameState GameState
@inject NavigationManager UriHelper

@if (thisArea != null)
{
    <div>Welcome to @thisArea.Name</div>
    <p>@thisArea.Description</p>

    @foreach (string a in thisArea.Actions ?? Enumerable.Empty<string>())
    {
        <Quepland_2.Components.GatherButtonComponent ActionText="@a"></Quepland_2.Components.GatherButtonComponent>
    }
}
<button @onclick="@(e => GetAxe())">Get Axe</button>

@code {
    [Parameter]
    public string areaName { get; set; }
    public Area thisArea { get; set; }

    private void GetAxe()
    {
        Player.Instance.Inventory.AddItem(ItemManager.Instance.GetItemByName("Stone Axe"));
        GameState.UpdateState();
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    protected override void OnParametersSet()
    {
        thisArea = AreaManager.Instance.GetAreaByURL(areaName);
        GameState.UpdateState();
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
