@page "/World/{areaURL}/{buildingURL}"
@inject GameState GameState
@inject NavigationManager UriHelper

@if (thisBuilding != null)
{
    <div>@thisBuilding.Name</div>
    <div>@thisBuilding.Description</div>
    @foreach (string npc in thisBuilding.NPCs)
    {
        <Quepland_2.Components.NPCDialogComponent npc="@npc"></Quepland_2.Components.NPCDialogComponent>
    }
    @foreach (Shop Shop in thisBuilding.Shops)
        {
        <Quepland_2.Components.ShopComponent Shop="@Shop"></Quepland_2.Components.ShopComponent>
        }
    }


@code {
    [Parameter]
    public string areaURL { get; set; }
    [Parameter]
    public string buildingURL { get; set; }
    public Building thisBuilding { get; set; }

    private void Talk(Dialog d)
    {
        d.Talk();
        GameState.UpdateState();
    }
    protected override void OnParametersSet()
    {
        thisBuilding = AreaManager.Instance.GetAreaByURL(areaURL).GetBuildingByURL(buildingURL);
        GameState.UpdateState();
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
