@page "/Underworld/{DungeonURL}"
@inject GameState GameState
@implements IDisposable

@if (Dungeon != null)
{
    @if (Dungeon.Progress < 100)
    {
        if (IsFighting == false)
        {
            <button @onclick="@(() => Spelunk())">Spelunk</button>
        }
        else
        {
            <button disabled>Spelunk</button>
        }
        <div>
            Progress
            <div class="progress">
                <div class="progress-bar" style="width:@(Dungeon.GetPercentProgress())%"></div>
            </div>
        </div>
    }
    @if (IsFighting)
    {
        <CombatComponent></CombatComponent>
        @if (BattleManager.Instance.CurrentOpponents.Count == 0 && BattleManager.Instance.BattleHasEnded)
        {
            <button @onclick="@(() => Spelunk())">Continue Spelunking</button>
            <br />
            <button @onclick="@(() => EndFight())">Return</button>
        }
    }
    else
    {

        <div>
            Go to:
            @foreach (Area area in Dungeon.GetUnlockedAreas() ?? Enumerable.Empty<Area>())
            {
                <button>@area.Name</button>
                <br/>
            }
        </div>
    }

}


@code {
    [Parameter]
    public string DungeonURL { get; set; }
    public Dungeon Dungeon { get; set; }
    private static Random rand = new Random();
    private bool IsFighting;

    public void Spelunk()
    {
        IsFighting = false;
        int action = rand.Next(0, (int)(Dungeon.Size - Dungeon.Progress));
        if (Dungeon.GetLockedAreas().Count > action)
        {
            Area areaToUnlock = Dungeon.GetRandomLockedArea();
            if (areaToUnlock != null)
            {
                areaToUnlock.Unlock();
                MessageManager.AddMessage("While spelunking you discovered a new area:" + areaToUnlock.Name);
            }
        }
        else
        {
            Monster monsterToFight = Dungeon.GetRandomMonster();
            if (monsterToFight != null)
            {
                BattleManager.Instance.CurrentOpponents.Add(monsterToFight);
                BattleManager.Instance.StartBattle();
                IsFighting = true;
            }
        }
        Dungeon.Progress++;
        GameState.UpdateState();
    }
    private void EndFight()
    {
        IsFighting = false;
        GameState.UpdateState();
    }
    protected override void OnParametersSet()
    {
        Dungeon = AreaManager.Instance.Dungeons.FirstOrDefault(x => x.URL == DungeonURL);
        BattleManager.Instance.CurrentArea = null;
        GameState.UpdateState();
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
