@page "/"
@inject GameState GameState
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime
@implements IDisposable

@if (GameState.ShowStartMenu)
{
    @if (GameState.InitCompleted == false)
    {
        <div>Loading Data...</div>
    }
    <StartMenuComponent></StartMenuComponent>
    <button @onclick="@(() => Test())">Smith</button>
    <button @onclick="@(() => Rates())">Rates</button>
    <button @onclick="@(() => Quests())">Quest Manager</button>
}
else
{

}

@code{

    protected async override Task OnInitializedAsync()
    {
        if (GameState.InitCompleted == false)
        {
            await GameState.LoadData(Http, UriHelper, JSRuntime);

        }
        //Player.Instance.GainExperience("Strength:1000000000");
        //Player.Instance.GainExperience("Woodcutting:1000");
        //Player.Instance.Inventory.AddItem("Shuniku Berries");
        //Player.Instance.Inventory.AddItem("Wood Carving Knife");
        //Player.Instance.Inventory.AddMultipleOfItem("Coins", 1500000);
        //Player.Instance.Inventory.AddItem("Rabbit Pants");
        //Player.Instance.Inventory.AddItem("Mound's Map");
        //Player.Instance.Inventory.AddItem("Buck");
        //Player.Instance.Inventory.AddItem("Small Fishing Rod");
        //Player.Instance.Inventory.AddItem("Golden Sword");
        //Player.Instance.Inventory.AddItem("Grizzly Bear");
        Bank.Instance.Inventory.AddMultipleOfItem("White Pine Logs", 3000);
        Bank.Instance.Inventory.AddMultipleOfItem("Feather", 3000);
        Bank.Instance.Inventory.AddMultipleOfItem("Wood Carving Knife", 3000);
        Bank.Instance.Inventory.AddMultipleOfItem("White Pine Arrow Shafts", 3000);
        //Player.Instance.Inventory.AddItem("Ultimate Test Weapon Two, Electric Boogaloo");
        //Player.Instance.Inventory.AddItem("Rice");
        //Player.Instance.Inventory.AddItem("Ultimate Test Weapon");
        //AreaManager.Instance.GetAreaByName("Queple Cave Smithy").Unlock();
        //Player.Instance.CurrentFollower = FollowerManager.Instance.Followers[0];
        /*int it = 0;
        foreach (GameItem item in ItemManager.Instance.Items)
        {
            if(it < 15 || item.Name == "Feather")
            {
                Bank.Instance.Inventory.AddItem(item);
                it++;
            }

        }*/

        Player.Instance.CurrentHP = 50;
        Bank.Instance.Inventory.AddItem("Stone Axe");

        GameState.StateChanged += OnGameStateChanged;
    }
    private void Rates()
    {
        UriHelper.NavigateTo("/Rates/");
    }
    private void Quests()
    {
        UriHelper.NavigateTo("/QuestManagement/");
    }
    private void Test()
    {

        GameState.Location = "Smithy";
        UriHelper.NavigateTo("World/Smithy/");
    }

    public void Dispose()
    {

        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
