@page "/"
@inject GameState GameState
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime
@implements IDisposable

@if (GameState.ShowStartMenu)
{
    <StartMenuComponent></StartMenuComponent>
    <button @onclick="@(() => Test())">Smith</button>
    <button @onclick="@(() => Rates())">Rates</button>
    <button @onclick="@(() => Quests())">Quest Manager</button>
    <a href="https://docs.google.com/document/u/0/" target="_blank">Open Google Docs</a>
}
else
{

}

@code{

    protected async override Task OnInitializedAsync()
    {
        if (GameState.InitCompleted == false)
        {
            await AreaManager.Instance.LoadAreas(Http);
            GameState.CurrentLand = AreaManager.Instance.GetLandByName("Quepland");
            await ItemManager.Instance.LoadItems(Http);
            await Player.Instance.LoadSkills(Http);
            await NPCManager.Instance.LoadNPCs(Http);
            await QuestManager.Instance.LoadQuests(Http);
            await BattleManager.Instance.LoadMonsters(Http);
            await FollowerManager.Instance.LoadFollowers(Http);
            GameState.JSRuntime = JSRuntime;
            await GameState.GetDimensions();
            GameState.Start();
            GameState.InitCompleted = true;

        }
        Player.Instance.GainExperience("Fishing:100000");
        Player.Instance.GainExperience("Woodcutting:1000");
        //Player.Instance.Inventory.AddItem("Shuniku Berries");
        //Player.Instance.Inventory.AddItem("Wood Carving Knife");
        Player.Instance.Inventory.AddMultipleOfItem("Coins", 1500000);
        //Player.Instance.Inventory.AddItem("Rabbit");
        //Player.Instance.Inventory.AddItem("Deer");
        //Player.Instance.Inventory.AddItem("Buck");
        //Player.Instance.Inventory.AddItem("Black Bear");
        //Player.Instance.Inventory.AddItem("Moose");
        //Player.Instance.Inventory.AddItem("Grizzly Bear");
        Player.Instance.Inventory.AddMultipleOfItem("Pigeon", 30);
        //Player.Instance.Inventory.AddItem("Rooster Plumage");
        //Player.Instance.Inventory.AddItem("Rice");
        //Player.Instance.Inventory.AddItem("Ultimate Test Weapon");
        //AreaManager.Instance.GetAreaByName("Queple Cave Smithy").Unlock();
        //Player.Instance.CurrentFollower = FollowerManager.Instance.Followers[0];
        foreach(GameItem item in ItemManager.Instance.Items)
        {
            Bank.Instance.Inventory.AddItem(item);
        }

        Player.Instance.CurrentHP = 50;
        Bank.Instance.Inventory.AddItem("Stone Axe");

        GameState.StateChanged += OnGameStateChanged;
    }
    private void Rates()
    {
        UriHelper.NavigateTo("/Rates/");
    }
    private void Quests()
    {
        UriHelper.NavigateTo("/QuestManagement/");
    }
    private void Test()
    {

        GameState.Location = "Smithy";
        UriHelper.NavigateTo("World/Smithy/");
    }

    public void Dispose()
    {

        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
